/* General*/

h1,
h2,
h3,
h4 {
  color: #F9F5EF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }

svg {
  max-width: 10em;
  height: auto;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #F9F5EF;
  font-size: 1.1em;
}

.p-text {
  font-weight: 500;
  color: #F9F5EF;
  font-size: 1.1em;
}

h1 { font-size: 32px; }
h2 {
  font-size: 24px;
  line-height: 28px; 
}
h3 { font-size: 18px; }
h4 { font-size: 14px; }

body {
  background-color: #212939;
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:50px;
  top:0;
  width:10%;
  z-index:10000;
}

.black { 
  color: #000000;
}

.columns {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* home elements */
#terrierLogo {
  margin-top: 120px;
  height: 215px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homeButtonsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.homeButtons {
  width: 250px;
  border-width: 2px;
  padding: 8px 30px 8px 30px;
  
  border-radius: 21px;
  
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#attendButton {
  background-color: #F58549;
  margin-right: 30px;
}

#sponsorButton {
  background-color: #E69C61;
  margin-left: 30px;
}

.button:hover, .button:focus {
  background-color: #C16C3E !important;
}

/* About */
#about {
  background-color: #2F3B53;
}

#aboutHeader {
  padding-left: 40px;
  font-weight: bold;
}

/* Attend */

#attend {
  background-color: #2F3B53;
}

#mc_embed_signup {
  background-color: #2F3B53 !important;
}

label {
  color: white !important;
}

#mc-embedded-subscribe {
  background-color: #F58549;
  border-radius: 20px;
}

/* FAQ */
#faq {
  width: 100%;
  background-color: #2F3B53;
  padding-bottom: 50px;
}

.faqTransitionLeft {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100px 0;
  border-color: transparent #212939 transparent transparent;
}

.faqTransitionRight {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent transparent #2F3B53;
}

#faqContainer {
  width: 100%;
  background-color: #2F3B53;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

#faqHeader {
  color: #222B30;
}

.sponsor-img {
  height: 80px;
}

#contact {
    margin: 50px 0 75px 0;
}

#contactHeader {
    margin-bottom: 50px;
}

.homeContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Animation */

#icon-ghost {
  transform: translate(35%,-15%);
  animation: bob-the-ghost 4s ease-in-out 0s infinite alternate; 
}

#icon-pump {
  transform: translate(35%,-15%) rotate(0deg);
  animation: bob-the-pump 8s ease-in-out 0s infinite alternate; 
}

@keyframes bob-the-ghost {
  from { transform: translate(35%,-15%); }
  to { transform: translate(35%,-5%); }
}

@keyframes bob-the-pump {
  0% { transform: translate(35%,-15%) rotate(0deg); }
  90% { transform: translate(35%,-15%) rotate(2deg); }
  92% { transform: translate(33%,-15%) rotate(-2deg); }
  94% { transform: translate(36%,-15%) rotate(2deg); }
  96% { transform: translate(36%,-15%) rotate(-2deg); }
  100% { transform: translate(35%,-15%) rotate(0deg); }
}
